# This is the resource bundle for {{2masterdetail.parameters.ApplicationTitle.value}}
{{#if 2masterdetail.environment.internal}}
# __ldi.translation.uuid={{2masterdetail.environment.uuid}}
{{/if}}

#XTIT: Application name
appTitle={{2masterdetail.parameters.ApplicationTitle.value}}

#YDES: Application description
appDescription={{2masterdetail.parameters.ApplicationDescription.value}}

#~~~ Master View ~~~~~~~~~~~~~~~~~~~~~~~~~~

#XTIT: Master view title with placeholder for the number of items
masterTitleCount={{2masterdetail.parameters.ObjectCollection.value.name}} ({0})

#XTOL: Tooltip for the search field
masterSearchTooltip=Enter an {{2masterdetail.parameters.ObjectCollection.value.name}} name or a part of it.

#XBLI: text for a list with no data
masterListNoDataText=No {{2masterdetail.parameters.ObjectCollection.value.name}} are currently available

#XBLI: text for a list with no data with filter or search
masterListNoDataWithFilterOrSearchText=No matching {{2masterdetail.parameters.ObjectCollection.value.name}} found

{{#if 2masterdetail.parameters.Object_Number.value.name}}
#XSEL: Option to sort the master list by {{2masterdetail.parameters.Object_Identifier.value.name}}
masterSort1=Sort By {{2masterdetail.parameters.Object_Identifier.value.name}}

#XSEL: Option to sort the master list by {{2masterdetail.parameters.Object_Number.value.name}}
masterSort2=Sort By {{2masterdetail.parameters.Object_Number.value.name}}

#XSEL: Option to filter the master list by {{2masterdetail.parameters.Object_Number.value.name}}
masterFilterName={{2masterdetail.parameters.Object_Number.value.name}}

#XSEL: Option to not filter the master list
masterFilterNone=none

#XSEL: Option to filter the master list by {{2masterdetail.parameters.Object_UnitOfMeasure.value.name}} if the value is less than 100
masterFilter1=<100 {{2masterdetail.parameters.Object_UnitOfMeasure.value.name}}

#XSEL: Option to filter the master list by {{2masterdetail.parameters.Object_UnitOfMeasure.value.name}} if the value is greater than 100
masterFilter2=>100 {{2masterdetail.parameters.Object_UnitOfMeasure.value.name}}

#YMSG: Filter text that is displayed above the master list
masterFilterBarText=Filtered by {0}

#XSEL: Option to not group the master list
masterGroupNone=(Not grouped)

#XSEL: Option to group the master list by {{2masterdetail.parameters.Object_Number.value.name}}
masterGroup1={{2masterdetail.parameters.Object_Number.value.name}} Group

#XGRP: Group header {{2masterdetail.parameters.Object_Number.value.name}}
masterGroup1Header1={{2masterdetail.parameters.Object_Number.value.name}} 20 or less

#XGRP: Group header {{2masterdetail.parameters.Object_Number.value.name}}
masterGroup1Header2={{2masterdetail.parameters.Object_Number.value.name}} higher than 20
{{/if}}

#YMSG: Warning of loss of unsaved entries
warningConfirm=Your entries will be lost when you leave this page.

#XTIT: Title of the Warning message box
warning=Warning

#YMSG: Error message for unsuccessful deletion of  
deleteFailed={0} {{2masterdetail.parameters.ObjectCollection.value.name}} cannot be deleted.

#~~~ Create View ~~~~~~~~~~~~~~~~~~~~~~~~~~
#YMSG: Error creating entity
createError=Failed to create entity 
#YMSG: No changes message
noChangesMessage=The item has not been saved. There are no changes
#YMSG: Confirm cancel message
confirmCancelMessage=Do you want to cancel editing and discard the changes?

#XTIT: update view title
editViewTitle = Edit Entity Screen

#XTIT: new view title
createViewTitle = New Entity Screen

#YMSG: Error updating entity
updateError=Failed to update entity

#~~~ Detail View ~~~~~~~~~~~~~~~~~~~~~~~~~~

#XTIT: Detail view title
detailTitle={{2masterdetail.parameters.ObjectCollection.value.name}}

#XTOL: Icon Tab Bar Info
detailIconTabBarInfo=Info

#XTOL: Icon Tab Bar Attachments
detailIconTabBarAttachments=Attachments

{{#if 2masterdetail.parameters.LineItemCollection.value.name }}
#XBLI: Text for the {{2masterdetail.parameters.LineItemCollection.value.name}} table with no data
detailLineItemTableNoDataText=No {{2masterdetail.parameters.LineItemCollection.value.name}}

#XTIT: Title of the {{2masterdetail.parameters.LineItemCollection.value.name}} table
detailLineItemTableHeading={{2masterdetail.parameters.LineItemCollection.value.name}}

#XTIT: Title of the {{2masterdetail.parameters.LineItemCollection.value.name}} table
detailLineItemTableHeadingCount={{2masterdetail.parameters.LineItemCollection.value.name}} ({0})

#XGRP: Title for the {{2masterdetail.parameters.LineItem_Identifier.value.name}} column in the {{2masterdetail.parameters.LineItemCollection.value.name}} table
detailLineItemTableIDColumn={{2masterdetail.parameters.LineItem_Identifier.value.name}}

#XGRP: Title for the {{2masterdetail.parameters.LineItem_UnitOfMeasure.value.name }} column in the {{2masterdetail.parameters.LineItemCollection.value.name}} table
detailLineItemTableUoMColumn={{2masterdetail.parameters.LineItem_UnitOfMeasure.value.name }}

#XGRP: Title for the {{2masterdetail.parameters.LineItem_Number.value.name}} column in the {{2masterdetail.parameters.LineItemCollection.value.name}} table
detailLineItemTableUnitNumberColumn={{2masterdetail.parameters.LineItem_Number.value.name}}
{{/if}}

#XTIT: Save as tile app title
shareSaveTileAppTitle={{2masterdetail.parameters.ApplicationTitle.value}} - {0}

#XTIT: Send E-Mail subject
shareSendEmailObjectSubject=<Email subject including object identifier PLEASE REPLACE ACCORDING TO YOUR USE CASE> {0}

#YMSG: Send E-Mail message
shareSendEmailObjectMessage=<Email body PLEASE REPLACE ACCORDING TO YOUR USE CASE> {0} (id: {1})\r\n{2}

#YMSG: Message text for deleting one item
deleteText=The item {0} will be deleted

#YMSG: Success message for deleting  one item
deleteSuccess={0} has been deleted

#XBUT: Leave Page
leavePage=Leave Page

#XTIT: Title of confirmation dialog
delete=Delete

#~~~ Not Found View ~~~~~~~~~~~~~~~~~~~~~~~

#XTIT: Not found view title
notFoundTitle=Not Found

#YMSG: The {{2masterdetail.parameters.ObjectCollection.value.name}} not found text is displayed when there is no {{2masterdetail.parameters.ObjectCollection.value.name}} with this id
noObjectFoundText=This {{2masterdetail.parameters.ObjectCollection.value.name}} is not available

#YMSG: The {{2masterdetail.parameters.ObjectCollection.value.name}} not available text is displayed when there is no data when starting the app
noObjectsAvailableText=No {{2masterdetail.parameters.ObjectCollection.value.name}} are currently available

#YMSG: The not found text is displayed when there was an error loading the resource (404 error)
notFoundText=The requested resource was not found

#~~~ Not Available View ~~~~~~~~~~~~~~~~~~~~~~~

#XTIT: Master view title
notAvailableViewTitle={{2masterdetail.parameters.ObjectCollection.value.name}}

#~~~ Error Handling ~~~~~~~~~~~~~~~~~~~~~~~

#YMSG: Error dialog description
errorText=Sorry, a technical error occurred! Please try again later.

#XTIT: Title of the Error message box
error=Error