<!DOCTYPE html>
<html>
	<head>
		<title>Opa tests for {{2masterdetail.parameters.ApplicationTitle.value}}</title>
		<meta http-equiv='X-UA-Compatible' content='IE=edge' />
		<meta charset="UTF-8">

		<script id="sap-ui-bootstrap"
				src="{{2masterdetail.environment.resourcePath}}../../resources/sap-ui-core.js"
				data-sap-ui-resourceroots='{
					"{{2masterdetail.parameters.ApplicationNamespace.value}}.test.integration": "./",
{{#if 2masterdetail.environment.nonFLP}}
					"{{2masterdetail.parameters.ApplicationNamespace.value}}.app" : "../testService"
{{else}}
					"{{2masterdetail.parameters.ApplicationNamespace.value}}.app" : "../flpSandboxMockServer"
{{/if}}
				}'>
		</script>

		<script>
			jQuery.sap.require("{{2masterdetail.parameters.ApplicationNamespace.value}}.test.integration.AllJourneys");
		</script>

	</head>
	<body>
		<div id="qunit"></div>
		<div id="qunit-fixture"></div>
	</body>
</html>