{
	"_version": "1.8.0",

	"sap.app": {
		{{#if 2masterdetail.environment.internal}}
		"id": "${project.artifactId}",
		{{else}}
		"id": "{{2masterdetail.parameters.ApplicationNamespace.value}}",
		{{/if}}
		"type": "application",
{{#if 2masterdetail.environment.internal}}
		"resources" : "resources.json",
{{/if}}
		"i18n": "i18n/i18n.properties",
		"title": "{{doubleCurlyBrackets "appTitle"}}",
		"description": "{{doubleCurlyBrackets "appDescription"}}",

		"applicationVersion": {
{{#if 2masterdetail.environment.internal}}
			"version": "${project.version}"
{{else}}
			"version": "1.0.0"
{{/if}}
		},
{{#if 2masterdetail.environment.internal}}
		"ach": "{{2masterdetail.parameters.ApplicationComponentHierarchy.value}}",
{{/if}}
		"dataSources": {
			"mainService": {
				{{~#if connectionData.runtimeUrl}}
					{{#if_eq connectionData.destination.proxyType "Internet"}}
						{{#if isServiceCatalog}}
							"uri": "{{connectionData.runtimeUrl}}",
						{{else}}
							"uri": "{{{formatUrl datasource.url}}}",
						{{/if}}
					{{else}}
						"uri": "{{{formatUrl datasource.url}}}",
					{{/if_eq}}
	            {{~else}}
        			"uri": "{{{formatUrl datasource.url}}}",
	        	{{~/if}}
				"type": "OData",
				"settings": {
					"odataVersion": "2.0",
					"localUri" : "localService/metadata.xml"
				}
			}
		}
	},

	"sap.ui": {
		"technology": "UI5",
		"icons": {
			"icon": "sap-icon://detail-view",
			"favIcon": "",
			"phone": "",
			"phone@2": "",
			"tablet": "",
			"tablet@2": ""
		},
		"deviceTypes": {
			"desktop": true,
			"tablet": true,
			"phone": true
{{#if isSAPUI5160Selected}}
		}
{{else}}
		},
		"supportedThemes": [
			{{#each ui5Config.AvailableThemes}}
            	"{{this}}"
            	{{#unless @last}},{{/unless}}
            {{/each}}
		]
{{/if}}
	},

	"sap.ui5": {
		"rootView": {
			"viewName": "{{2masterdetail.parameters.ApplicationNamespace.value}}.view.App",
			"type": "XML",
			"id": "app"
		},

		"dependencies": {
{{#if 2masterdetail.environment.internal}}
			"minUI5Version": "${sap.ui5.dist.version}",
{{else}}
			"minUI5Version": "{{ui5Config.minUI5Version}}",
{{/if}}
			"libs": {
				"sap.ui.core": {},
				"sap.m": {},
				"sap.ui.layout": {},
				{{~#if ui5IsBiggerThen142}}
			    "sap.f": {},
			    {{~/if}}
                "sap.ushell": {},
                "sap.collaboration": {},
                "sap.ui.comp": {},
                "sap.uxap": {}
			}
		},

		"contentDensities": {
			"compact": true,
			"cozy": true
		},

		"models": {
			"i18n": {
				"type": "sap.ui.model.resource.ResourceModel",
				"settings": {
					"bundleName": "{{2masterdetail.parameters.ApplicationNamespace.value}}.i18n.i18n"
				}
			},
			"" : {
				"dataSource": "mainService",
				"settings": {
					"metadataUrlParams": {
						"sap-documentation": "heading"
					},
					"defaultBindingMode": "TwoWay"
				}
			}
		},

		"routing": {
			"config": {
				"routerClass": "sap.m.routing.Router",
				"viewType": "XML",
				"viewPath": "{{2masterdetail.parameters.ApplicationNamespace.value}}.view",
				"controlId": "idAppControl",
				"controlAggregation": "detailPages",
				"bypassed": {
					"target": ["master", "notFound"]
				},
				"async": true
			},

			"routes": [
				{
					"pattern": "",
					"name": "master",
					"target": ["object", "master"]
				},
				{
					"pattern": "{{{handleRoutingPattern 2masterdetail.parameters.ObjectCollection.value.name}}}",
					"name": "object",
					"target": ["master", "object"]
				}
			],

			"targets": {
				"master": {
					"viewName": "Master",
					"viewLevel": 1,
					"viewId": "master",
					"controlAggregation": "masterPages"
				},
				"object": {
					"viewName": "Detail",
					"viewId": "detail",
					"viewLevel": 2
				},
				"create": {
					"viewName": "CreateEntity",
					"viewLevel": 2
				},
				"detailObjectNotFound": {
					"viewName": "DetailObjectNotFound",
					"viewId": "detailObjectNotFound"
				},
				"detailNoObjectsAvailable": {
					"viewName": "DetailNoObjectsAvailable",
					"viewId": "detailNoObjectsAvailable"
				},
				"notFound": {
					"viewName": "NotFound",
					"viewId": "notFound"
				}
			}
		}
	}
}