sap.ui.define([
		"{{formatNamespace 2masterdetail.parameters.ApplicationNamespace.value}}/model/GroupSortState",
		"sap/ui/model/json/JSONModel",
		"sap/ui/thirdparty/sinon",
		"sap/ui/thirdparty/sinon-qunit"
	], function (GroupSortState, JSONModel) {
	"use strict";

	QUnit.module("GroupSortState - grouping and sorting", {
		beforeEach: function () {
			this.oModel = new JSONModel({});
			// System under test
			this.oGroupSortState = new GroupSortState(this.oModel, function() {});
		}
	});

	QUnit.test("Should always return a sorter when sorting", function (assert) {
		// Act + Assert
		assert.strictEqual(this.oGroupSortState.sort("{{2masterdetail.parameters.Object_Number.value.name}}").length, 1, "The sorting by {{2masterdetail.parameters.Object_Number.value.name}} returned a sorter");
		assert.strictEqual(this.oGroupSortState.sort("{{2masterdetail.parameters.Object_Identifier.value.name}}").length, 1, "The sorting by {{2masterdetail.parameters.Object_Identifier.value.name}} returned a sorter");
	});

	QUnit.test("Should return a grouper when grouping", function (assert) {
		// Act + Assert
		assert.strictEqual(this.oGroupSortState.group("{{2masterdetail.parameters.Object_Number.value.name}}").length, 1, "The group by {{2masterdetail.parameters.Object_Number.value.name}} returned a sorter");
		assert.strictEqual(this.oGroupSortState.group("None").length, 0, "The sorting by None returned no sorter");
	});


	QUnit.test("Should set the sorting to {{2masterdetail.parameters.Object_Number.value.name}} if the user groupes by {{2masterdetail.parameters.Object_Number.value.name}}", function (assert) {
		// Act + Assert
		this.oGroupSortState.group("{{2masterdetail.parameters.Object_Number.value.name}}");
		assert.strictEqual(this.oModel.getProperty("/sortBy"), "{{2masterdetail.parameters.Object_Number.value.name}}", "The sorting is the same as the grouping");
	});

	QUnit.test("Should set the grouping to None if the user sorts by {{2masterdetail.parameters.Object_Identifier.value.name}} and there was a grouping before", function (assert) {
		// Arrange
		this.oModel.setProperty("/groupBy", "{{2masterdetail.parameters.Object_Number.value.name}}");

		this.oGroupSortState.sort("{{2masterdetail.parameters.Object_Identifier.value.name}}");

		// Assert
		assert.strictEqual(this.oModel.getProperty("/groupBy"), "None", "The grouping got reset");
	});
});